<div class="home_info">
  <h1>Narrater</h1>
  <p>Narraterは簡単なつぶやきを投稿することのできるアプリです。</p>
  <ul>
    <li>つぶやきを投稿するにはログインが必要です。アカウントをお持ちでなければ新規登録をお願いします。</li>
    <li>つぶやきを投稿・編集・削除・一覧表示することができます。</li>
    <li>つぶやきは、１字以上１４０字以下でないと投稿できません。</li>
  </ul>
</div>
