.form_navigation{
  font-size: 30px;
  height: 45px;
  color :#ffffff;
  background-color: #f1c50b;
  text-align: center;
  width: 100%;
}

.confirm_content{
  width: 100%;
  text-align: center;
  background-color: rgba(240, 240, 240, 0.5);
}

.confirm_icon{
  display: inline-block;
  padding-left: 1px;
  margin: 15px 0px 0px 0px;
  width: 100px;
  border-radius: 10px;
}

.confirm_balloon{
  display: inline-block;
  width: 200px;
  height: 80px;
  position: relative;
  font-size: 2rem;
  padding: 10px;
  border: 10px;
  margin-bottom: 15px;
  background-color: #f7e169;
  border-radius: 10px;
}

.confirm_balloon::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 15px;
  border-right: 15px solid #f7e169;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
