.navigation{
  font-size: 40px;
  height: 45px;
  color :#ffffff;
  background-color: #f4a50c;
  text-align: center;
  width: 100%;
}

table {
  margin: 5px 10px 100px 40px;
  background-color: rgba(240, 240, 240, 0.5);
}

.content{
  height: 80px;
  margin: 10px;
  border-bottom: solid 1px #9b9c98;
}

.icon{
  padding-left: 6px;
  margin-right: 20px;
  width: 80px;
  height: 50px;
  border-radius: 50%;
}

.user_name{
  color: #ffffff;
  background-color: rgba(218, 158, 7, 0.91);
  border: outset 0.1px #c7bc2b;
  border-radius: 10px;
  width: 60px;
  text-align: center;
  word-wrap: break-word;
}

.balloon{
  position: relative;
  font-size: 2rem;
  width: 300px;
  padding: 10px;
  border: 10px;
  background-color: #f7e169;
  border-radius: 10px;
}
.balloon p{
  width: 300px;
  word-wrap: break-word;
}

.balloon::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  display: table-cell;
  vertical-align: middle;
  left: -15px;
  top: 20px;
  border-right: 15px solid #f7e169;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.content_image{
  float: bottom;
}

.btn{
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.spacer{
  height: 20px;
}
