body{background-image: url("/images/bac.jpg");
  margin-bottom: 10px;
}

.header_area {
  width: 100%;
  background-color: #a38018;
}

.header_area ul{
  padding-top: 20px;
  margin-right: 0px;
  text-align: center;
  list-style: none;
}

.header_area a{
  color: #ffffff;
  background-color: #ecaa16;
  font-size: 40px;
  margin-left: 10px;
  display: block;
  width: 170px;
  border: inset 1px #613b1f;
  border-radius: 10px;
}

.login_area{
  background-color: #373008;
  height: 40px;
}

.login_area a{
  color: #ffffff;
  background-color: #958e7d;
  font-size: 15px;
  margin-top: 5px;
  margin-left: 10px;
  display: inline-block;
  text-align: center;
  width: 80px;
  border: solid 1px #e7c1a5;
  border-radius: 10px;
}

.fotter_area {
  width: 100%;
  background-color: #373008;
  padding: 20px 0 10px 0;
  color: #f3f9ec;
  margin: auto;
  margin-top: 10;
  position: absolute;
  font-size: 15px;
  bottom:0;
  height: 100px;
}

.fotter_area p{
  text-align: center;
}



html {
  position: relative;
  min-height: 100%;
}
